@media screen and (min-width: 950px) {
  .card{
    width: 85rem;
    height: 50rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    overflow: hidden;
    border-radius: 2rem;
  }
  .content{
    grid-column: 1 / 2;
    grid-row: 1 / span 1;

    padding: 4rem;
  }
  .image{
    grid-column: 2 / 3;
    grid-row: 1 / span 1;

    background-image: url(assests/images/illustration-sign-up-desktop.svg);
    border-radius: 0;
  }


  .message__success{
    width: 40rem;
    height: 40rem;
    padding: 3rem;
    border-radius: 2rem;
  }
  .message__success header{
    margin: 0;
  }
  .message__success img{
    margin-bottom: 1.5rem;
  }
}