@font-face {
  font-family: 'roboto-regular';
  src: url('assests/fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'roboto-bold';
  src: url('assests/fonts/Roboto-Bold.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
ul {
  list-style: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

:root {
  --dark-slate-gray: hsl(234, 29%, 20%);
  --charcoal: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: #fff;
  --orange: hsl(32, 78%, 58%);
  --btn-gradient: linear-gradient(to right, #fc3862 25%, hsl(4, 100%, 67%) 100%);
  --color-error-1: #e23f3f;
  --color-error-2: #e23f3f36;
}

body{
  min-height: 100vh;
  background: var(--dark-slate-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: roboto, sans-serif;
}
/* LAYOUT */ 

.card{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
  width: 32rem;
  height: 84.2rem;
  /* height: auto; */
}

.image{
  grid-row: 1 / 2;
  width: 100%;
  height: 100%;
}

.content{
  grid-row: 2 / 3;
  width: 100%;
  height: 100%;
}


/* ELEMENTS */

.card{
  background: var(--white);
}

.image{
  background-image: url(assests/images/illustration-sign-up-mobile.svg);
  background-position: center;
  background-size: cover;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.content{
  align-items: center;
  padding: 2rem;
}

h2{
  font-size: 3.8rem;
  color: var(--charcoal);
}
p{
  font-size: 1.6rem;
  color: var(--charcoal);
}

.content h2 {
  margin: 1.5rem 0;
}
.content p.desc{
  margin: 1.8rem 0;
}


.list__updates li {
  display: flex;
  align-items: baseline;
  margin: 2rem 0;
}
.list__updates li img{
  width: 1.6rem; 
  margin-right: 1.5rem;
}

.form__subscribe{
  margin: 3.5rem 0;
}

.container__label{
  display: flex;
  justify-content: space-between;
}
.label{
  font-family: roboto-bold;
  font-size: 1.2rem;
  color: var(--charcoal);
  margin-bottom: 1rem;
}

.label__email--invalid{
  color: var(--color-error-1);
}

.input__email{
  border: none;
  outline: none;
  background: var(--white);
  border: 1px solid var(--charcoal);
  border-radius: .5rem;
  width: 100%;
  padding: 1.5rem;
  color: var(--charcoal);
  font-size: 1.4rem;
}

.input__email::placeholder{
  color: var(--charcoal);
}

.input__error{
  background-color: var(--color-error-2);
  border-color: var(--color-error-1);
}


.btn {
  width: 100%;
  border: none;
  outline: none;
  background: var(--dark-slate-gray);
  padding: 1.5rem;
  color: var(--white);
  font-family: roboto-bold;
  font-size: 1.6rem;
  border-radius: .5rem;
  margin-top: 1.5rem;
}
.btn:hover{
  background: var(--btn-gradient);
}


.message__success{
  background: var(--white);
  width: 32rem;
  height: 84.2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.message__success header{
  margin-top: 10rem;
}

.message__success img{
  margin-bottom: 3rem;
}

.message__success p{
  margin: 2.5rem 0;
}
.message__success .email__message--send-to{
  font-family: roboto-bold;
}
.message__success .btn__dismiss{
  
}



.hidden{
  display: none;
}