@font-face {
  font-family: 'roboto-regular';
  src: url('assests/fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'roboto-bold';
  src: url('assests/fonts/Roboto-Bold.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
ul {
  list-style: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

:root {
  --first-color: #36384d;
  --first-color-dark: #323447;

  --btn-gradient: linear-gradient(to right, #ff436c 25%, #ff5b28 100%);

  --color-error: #e75d0c;
}

body {
  font-family: roboto-regular, sans-serif;
  background: var(--first-color);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* LAYOUT */

main {
  width: 60%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 2rem;
  padding: 1.5rem;
  /* display: none; */
}

main .content {
  width: 50%;
  height: 100%;
}
main .image {
  width: 50%;
  height: 100%;
}
main .image img {
  width: auto;
  height: 100%;
  float: right;
}


/* ELEMENTS */

.content{
    padding: 6rem 3rem;
    color: var(--first-color);
}
.content h2{
    font-size: 4.2rem;
}

.label__updates{
    margin: 1.5rem 0;
    font-size: 1.6rem;
}

.updates{
    margin: 1.5rem 0;
}
.updates li{
    display: flex;
    align-items: baseline;
    gap: 1.5rem;
    margin: 1rem 0;
}
.updates img{
    width: 1.6rem;
}
.updates p{
    font-size: 1.5rem;
}


.form__subscribe {
    margin-top: 4rem;
}

.labels{
    display: flex;
    justify-content: space-between;
}
.label__input{
    font-size: 1.2rem;
    font-family: roboto-bold;
    font-weight: 600;
}
.label__input--invalid {
    display: none;
    font-size: 1.2rem;
    color: var(--color-error);
}

.form__subscribe input{
    width: 100%;
    border: none;
    outline: none;
    border: 1px solid var(--first-color);
    color: var(--first-color);
    border-radius: .5rem;
    padding: 1.5rem;
    margin-top: 1.8rem;
}

.btn {
  background: none;
  border: none;
  outline: none;
  font-family: roboto-bold, sans-serif;
  letter-spacing: .5px;
  cursor: pointer;
  background: var(--first-color-dark);
  padding: 1.5rem;
  font-size: 1.4rem;
  width: 100%;
  border-radius: .5rem;
  color: #fff;
  margin-top: 1.8rem;
}
.btn:hover{
  box-shadow: 0 .5rem 1rem #ff436c;
  background: var(--btn-gradient);
}



/* SUCCESS MESSAGE */
.message__success {
  width: 33rem;
  height: 34rem;
  background: #fff;
  /* display: flex; */
  flex-direction: column;
  color: var(--first-color);
  padding: 3rem;
  border-radius: 2rem;
  display: none;
}

.message__icon img{
  width: 4.5rem;
  margin-bottom: 1.5rem;
}

.message__success h2 {
  font-size: 3.4rem;
}

.message__success p {
  font-size: 1.2rem;
  margin: 1.5rem 0;
}
.message__email {
  font-family: roboto-bold;
}